.container {
  width: 1080px;
  margin: auto;
  background-color: #fffbea;
  padding: 20px;
  border-radius: 7px;
  margin-top: 5px;
}
.container {
  width: 1080px;
  margin: auto;
  background-color: #fffbea;
  padding: 20px;
  border-radius: 7px;
  margin-top: 5px;
}
.btn {
  background-color: #b26cc4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b26cc4;
  border-radius: 5px;
  color: #fffbea;
  width: 90px;
  height: 30px;
  text-decoration: none;
  margin-bottom: 20px;
}
.btn:hover {
  color: #b26cc4;
  background-color: #fffbea;
  transition: 0.3s;
}
.img {
  width: 250px;
  border: 5px solid #ecbaf9;
  border-radius: 10px;
}

.wrapper {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  border: 5px solid #ecbaf9;
}

.title {
  font-size: 38px;
}

.secondTitle {
  margin-top: 20px;
}

.btns {
  display: flex;
  gap: 20px;
}

.item {
  background-color: #fffbea;
  border: 2px solid #b26cc4;
  border-radius: 5px;
  color: #b26cc4;
  text-decoration: none;
  width: 80px;
  padding: 5px;
  text-align: center;
}
.item:hover {
  color: #fffbea;
  background-color: #b26cc4;
  transition: 0.3s;
}
.active {
  color: #fffbea;
  background-color: #b26cc4;
}
