.header {
  width: 1080px;
  margin: auto;
  background-color: #fffbea;
  padding: 20px;
  border-radius: 7px;
}
.wrapper {
  display: flex;
  gap: 25px;
  margin-left: 10px;
}
.item {
  text-decoration: none;
  color: #b26cc4;
  font-size: large;
  border: 2px solid #b26cc4;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  background-color: #fffbea;
}
.item:hover {
  color: #fffbea;
  background-color: #b26cc4;
  transition: 0.3s;
}
.active {
  color: #fffbea;
  background-color: #b26cc4;
}
