.container {
  width: 1080px;
  margin: auto;
  background-color: #fffbea;
  padding: 20px;
  border-radius: 7px;
  margin-top: 5px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.itemList {
  width: 150px;
  text-align: center;
}
